body {
    background-color:powderblue;
}
.main {
    text-align:center;   
}
.GFG {
    color:royalblue;
    font-size:50px;
    font-weight:bold;
}
#geeks {
    font-style:bold;
    font-size:20px;
}
